.faq-container {
    position: static;
    width: 80%;
    max-width: 800px;
    margin: 120px auto 40px auto;
    font-family: Arial;
      margin-bottom: 0px;
}

.faq-title {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  border-radius: 90px;
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  background: #f4c182;
  border-radius: 10px;
  font-weight: bold;
  border : 2px solid #ffffff;
  border-radius: 90px;;
}

.faq-btn {
  color: rgb(252, 252, 252); 
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.faq-answer {
  padding: 15px;
  background: #fff;
  border-radius: 90px;
  margin-top: 5px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {

  .faq-container {
    width: 95%;
    margin: 60px auto 20px auto;
  }

  .faq-title {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .faq-question {
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
  }

  .faq-answer {
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;
  }

  .faq-btn {
    font-size: 16px;
  }
}